# Imports

In [1]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime

In [2]:
pd.read_csv('curriculum_access.txt')

                                             Access Logs
0                 2018-01-26 09:55:03 / 1 8 97.105.19.61
1           2018-01-26 09:56:02 java-ii 1 8 97.105.19.61
2      2018-01-26 09:56:05 java-ii/object-oriented-pr...
3      2018-01-26 09:56:06 slides/object_oriented_pro...
4      2018-01-26 09:56:24 javascript-i/conditionals ...
...                                                  ...
42219  2018-04-11 22:38:56 javascript-ii/modules 36 2...
42220    2018-04-11 22:47:57 jquery 145 23 76.185.182.91
42221  2018-04-11 22:48:13 jquery/ajax/weather-map 14...
42222     2018-04-11 23:02:01 html-css 83 18 45.21.0.138
42223  2018-04-11 23:02:10 html-css/css-i/introductio...

[42224 rows x 1 columns]